/* Typography */

h1,
h2,
h3,
p {
    text-align: center;
}



/* Navagation Styles */

nav {
    background-color: gray;
    margin: 0;
}

nav ul {
    margin-right: 5%;
    margin-left: 5%;
    list-style-type: none;
    padding: 0;
}

nav li {
    border: 1px solid lightgray;
    background: white;
    text-align: center;
}

nav li a {
    text-decoration: none;
}

/* Header Styles */

header {
    width: 100%;
    background: coral;
    margin-left: auto;
    margin-right: auto;
}

header p {
    text-align: center;
    padding: 5% 10% 5% 10%;
    margin: 0;
}

.profile-img {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

/* Portfolio Section */

.projects {
    list-style-type: none;
    padding: 5%;
}

.projects img {
    width: 100%;
}
/* Contact Section */



/* Footer Styles */